.banner-heading{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 0px;
     margin-top: 8rem;
}
.banner-heading span{
    
     color: white;
     font-size: 4rem;
}

.Banner{
     height: 60vh;
     width: 100vw;
}

.connectBtn button {
    padding: 12px;
    border: none;
    
    cursor: pointer;
    background-color: rgb(255, 183, 0) ;
    font-weight: bolder;
    transition: 0.5s ease-out;
}
.connectBtn button:hover {
    background-color: black;
   
}
.connectBtn button a {
    text-decoration: none;
    
    color: black;
}
.connectBtn button a:hover{
      color: rgb(255, 183, 0);
}

.Banner{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
     gap: 2rem;
}