.donator-text{
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 0px;
     
}

.donator-text h2{
     font-weight: 450;
     font-size: 2rem;
}

.donator-text p{
     font-weight: 300;
     font-size: 1.1rem;
     line-height: 1.8rem;
}